<html>
<head>
<style>
body
{
background-image:url('f1.jpg');
background-attachment: fixed;
background-repeat:no-repeat;
background-size: 100% 120%;
background-color:green;
}
div.1
{
text-align:right;
}
p{
font-size:20px;
font-family:italic;
}
</style>
<title>sdasd</title>
<body>
<h1>"welcome to site"</h1>
<h1> 4:19 PM 1/18/2021 {{flight.id}}</h1>
<ul>
	<li>Origin: {{ flight.origin}} </li>
	<li>Destination: {{ flight.destination }} </li>
	<li>travelling duration: {{flight.duration}} </li>
</ul>

<h2>Passengers:</h2>
<ul>
    {% for passenger in passengers %}
        <li>{{ passenger }}</li>
    {% empty %}
        <li>No Passengers.</li>
    {% endfor %}
</ul>

<h2>Add passanger</h2>
<form action={% url 'book' flight.id %} method="POST">
{% csrf_token %}
<select name="Passenger">
{% for passenger in non_pass %}
<option value="{{ passenger.id }}">{{passenger}}</option>
{% endfor %}
</select>
<input type="submit">
</form>
<br/>
<a href={% url 'index' %}>Back to the list </a>
<div>
<p>
"Kite flying in China dates back to several hundred years BC and slowly spread around the world. It is thought to be the earliest example of man-made flight. Leonardo da Vinci's 15th-century dream of flight found expression in several rational designs, but which relied on poor science.

The discovery of hydrogen gas in the 18th century led to the invention of the hydrogen balloon, at almost exactly the same time that the Montgolfier brothers rediscovered the hot-air balloon and began manned flights.[1] Various theories in mechanics by physicists during the same period of time, notably fluid dynamics and Newton's laws of motion, led to the foundation of modern aerodynamics, most notably by Sir George Cayley. Balloons, both free-flying and tethered, began to be used for military purposes from the end of the 18th century, with the French government establishing Balloon Companies during the Revolution.[2]

Experiments with gliders provided the groundwork for heavier-than-air craft, and by the early 20th century, advances in engine technology and aerodynamics made controlled, powered flight possible for the first time. The modern aeroplane with its characteristic tail was established by 1909 and from then on the history of the aeroplane became tied to the development of more and more powerful engines.

The first great ships of the air were the rigid dirigible balloons pioneered by Ferdinand von Zeppelin, which soon became synonymous with airships and dominated long-distance flight until the 1930s, when large flying boats became popular. After World War II, the flying boats were in their turn replaced by land planes, and the new and immensely powerful jet engine revolutionised both air travel and military aviation.

In the latter part of the 20th century, the advent of digital electronics produced great advances in flight instrumentation and "fly-by-wire" systems. The 21st century saw the large-scale use of pilotless drones for military, civilian and leisure use. With digital controls, inherently unstable aircraft such as flying wings became possible."
</p>
</div>

<div>
<h1>About us</h1>
<label>Email:</label>akshaymvlu@gmail.com
<br/>
<label>phone:</label>8850523416
</div>
<div align="center">
<h1 id="h1">you can sent a da"</h1>
<form>
Name:<input type="text" value="text" name="Name">
</br>
email:<input type="email" value="abc123@email" name="@email.com">
<button id="3">submit</button>
</form>
</div>
</body>
</head>
</html>